// general rules

body, h1, h2, h3, h4, p, span, ul, li, a
	margin: 0
	padding: 0	

body 
	font-size: $font-size
	line-height: $line-height
	font-family: 'Roboto-Regular', Arial, sans-serif
	color: #70757b

a
	text-decoration: none

	&:hover
		text-decoration: none

ul
	list-style: none	

