//media

// large devices

@media only screen and (max-width:1199px)
	.top-services
		text-align: center
		.wrap-services
			.btn-view
				margin: 10px

	.carousel
		.slide-title
			font-size: em(40px)
		.slide-content
			font-size: em(14px)
		.fa	
			top: 40%

@media only screen and (max-width: 991px)
	.carousel
		.fa
			font-size: em(25px)
			padding: 5px 10px
			top:40%
		.fa-angle-double-left
			border-radius: 0 5px 5px 0
		.fa-angle-double-right
			border-radius: 5px 0 0 5px

@media only screen and (max-width: 767px)
	.carousel
		.carousel-caption
			top: 10%
		.slide-title
			font-size: em(30px)
		.slide-content
			font-size: em(12px)
			width: 100%
			padding: 5px 10px
		.fa
			top: 40%
			font-size: em(20px)		
@media only screen and (max-width: 479px)
	.carousel
		.carousel-caption
			top: 10%
		.slide-title
			font-size: em(20px)
		.slide-content
			font-size: em(10px)
			width: 100%
			padding: 5px
		.fa
			top: 40%
			font-size: em(18px)	



